<nav class='navbar'>
  <ul>
    <li><a class='green' href='/'>Home</a></li>
    <li><a class='yellow' href='/about-us'>About</a></li>
    <li><a class='red' href='/highscore'>Highscore</a></li>
  </ul>
  <hr class='line' />
</nav>