:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-size: 10px;
  list-style-type: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

label {
  font-size: 4rem;
}

input {
  font-size: 2rem;
}

button {
  font-size: 2.4rem;
}

select {
  margin-left: 2rem;
}

option {
  font-size: 3rem;
}

ul {
  font-size: 4rem;
  padding: 0;
}

li {
  font-size: 4rem;
}

span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.guess-list {
  font-size: 5rem;
}

.guess-list li {
  font-size: 1rem;
}

.guess-list span {
  font-size: 5rem;
}

.game-div {
  position: relative;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: fit-content;
  padding-bottom: 2rem;
}

.modal-content button {
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.modal-content input {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.modal-content input::placeholder {
}

.modal-content p {
  font-size: 3rem;
}

.div-start {
  display: flex;
  justify-content: center;
}

.game-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.game-start button {
  margin: 2rem;
  margin: auto;
  margin-top: 2rem;
}

.game-start select {
  font-size: 3rem;
}

.game-start input {
  height: 4rem;
  width: 4rem;
  margin-left: 3.1rem;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.1rem solid white;
  padding: 2rem;
  padding-top: 1rem;
}

.rules h2 {
  font-weight: 700;
  align-self: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.guess-form button {
  width: 40%;
  margin: auto;
  margin-top: 2rem;
}

.game-play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
