<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Wordle Simon</title>
    <script type='module' src='/assets/index-DLsGF-Vd.js' defer></script>
<link rel='stylesheet' href='/assets/index-CWgj20ss.css' />
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <header>
      {{> header}}
    </header>

    {{{body}}}

    <footer>
      {{> footer}}
    </footer>
  </body>
</html>