<h1>About</h1>
<p class='about-text'>This is a school project where I attempt to recreate the
  game "Wordle". The assigments purpose is to learn how to make a fullstack web
  application using reacts.js for the frontend. I have set up an express server
  for the backend and MongoDB and Atlas for my database where all the highscores
  are stored.
</p>